/* Add keyframe for jumping animation */
@keyframes jump {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px); /* How high the jump should be */
    }
    60% {
        transform: translateY(-15px); /* Slight bounce down */
    }
}

/* Apply the animation to the hero-title and hero-subtitle */
.hero-title {
    color: var(--whiteColor);
    font-size: 2.5rem;
    font-weight: 600;
    animation: jump 2s infinite;
}

.hero-subtitle {
    color: var(--whiteColor);
    font-size: 1.25rem;
    margin-bottom: 20px;
}
